{{!-- <main class="mt-4">

    <div class="container">
        <div class="row">
            <div class="text-center"></div>
                <h1 class="ml-0" id="header">Wing Spot Fanatics</h1>
            </div>   
        </div>
    </div>
    
    <div class="container bg-red">
        <div class="row">
            {{#each users}}
                <div class="col">
                   <div class="card m-4" style="width: 18rem;">
                        <img class="card-img-top" src="{{image}}">
                        <div class="card-body">
                            <h1 class="card-title">{{name}}</h1>
                            <h4 class="card-text">{{headline}}</h4>
                            <a href="/users/{{_id}}" class="btn btn-dark">My Wing Spots</a>
                        </div>
                    </div> 
                </div>
            {{/each}}
        </div>
    </div>


    <div class="container pt-4">
        <div class="row">
            <a href='/new'><button type="submit" class="btn btn-dark">Create User</button> 
        </div>
    </div>

</main> --}}
<div class="container-fluid hero">
    <div class="hero-overlay"></div>
    <h1>Wing Spot Fanatics</h1>
</div>

<div class="container content">
    <h1>All Fanatics</h1>
    <div class="row">
        {{#each users}}
            <div class="col-sm-12">
                <div class="card">
                    <img class="card-img" src="{{image}}">
                    <div class="card-body">
                        <div class="content-wrapper left">
                            <div class="details">
                                <h1 class="card-title">{{name}}</h1>
                                <h4 class="card-text">{{headline}}</h4>
                            </div>
                            <div class="wingspots">
                                {{!-- {{#each wingspot in wingspots}}
                                    <a href="/users/{{_id}}" class="btn btn-dark">{{ wingspot.name }}</a>
                                {{/each}} --}}
                            </div>
                        </div>
                        <div class="content-wrapper right">
                            <h4 class="card-text">{{location}}</h4>
                            <a href="/users/{{_id}}" class="btn btn-dark">All Wing Spots</a>
                        </div>
                    </div>
                </div> 
            </div>
        {{/each}}
    </div>
</div>

