<main>

    <h2>Hello {{users.name}}!

    </h2>


    <div class="users-container-show">
        <h2 id="users-name">


        </h2>

        <img src="{{users.image}}" />

        <br>
        <h5>{{users.headline}}</h5>
        <p>

            {{users.location}}

        </p>
        <h3>WingSpots</h3>
        {{#each users.wingspots}}
        <h3>{{name}}</h3>
        {{/each}}

       
        
       
         <a href="{{users._id}}/edit"><button type="submit">Update User</button></a> 
        
        <form action="/{{users._id}}?_method=DELETE" method="POST">
            <button type="submit">Delete User</button>
        </form>
        <br>
    </div>


</main>