<main>

    <h2>Hello {{users.name}}!

    </h2>


    <div class="users-container-show">
        <h2 id="users-name">


        </h2>

        <img src="{{users.image}}" />

        <br>
        <h4>{{users.headline}}</h4>
        <p>

           <h2> {{users.location}}</h2> 

        </p>
        <h3>{{users.name}}'s Favorite Wing Spots</h3>
        {{#each users.wingspots}}
        <a href="/:id/wingspots/{{id}}">
            <h3>{{name}}</h3>
        </a>
        {{/each}}
        <br>

        <a href="{{users._id}}/edit"><button type="submit">Update User</button></a>

        <form action="/users/{{users._id}}?_method=DELETE" method="POST">
            <button type="submit">Delete This User</button>
        </form>
        <a href='/:id/wingspots/new'><button type="submit">Create New Wing Spot</button></a>
        </form>
    </div>
    <br>
    <a href="/users">Return to Users Page</a>


</main>