<main>

    <h2>{{wingspots.name}}!

    </h2>


    <div class="users-container-show">
        <h2 id="users-name">


        </h2>


        <br>
        <h5>{{wingspots.location}}</h5>
        <p>

            {{wingspots.ambiance}}

        </p>
        <h3>Wings</h3>
        {{#each wingspots.wings}}
        <a href="/:id/wingspots/{{id}}">
            <h3>{{style}}</h3>
        </a>
        {{/each}}

        <a href="{{wingspots._id}}/edit"><button type="submit">Update Wingspot</button></a>

        <form action="/wingspots/{{wingspots._id}}?_method=DELETE" method="POST">
            <a href="users/:id"><button type="submit">Delete Wingspot</button></a>
        </form>
        <br>
    </div>


</main>